<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading mb-5">{{ 'Consensus Node' | translate }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="bg-white p-4 border-radius mb-3">
            <div class="table table-responsive">
              <table class="table table-borderless table-striped table-hover tabel-content-vertical-middle">
                <tbody>
                  <tr>
                    <th scope="row">{{ 'Account' | translate }}</th>
                    <td>{{ node.account }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Public Key' | translate }}</th>
                    <td>{{ node.public_key }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Votes' | translate }}</th>
                    <td>{{ node.votes_percent | number:'1.0-2' }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Url' | translate }}</th>
                    <td><a href="{{ node.url }}">{{ node.url }}</a></td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Position' | translate }}</th>
                    <td>{{ node.position | number }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Daily Reward' | translate }}</th>
                    <td>{{ node.daily_reward | number:'1.0-4' }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>