<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">Assets</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <th scope="col">Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Type</th>
            <th scope="col">Created</th>
            <th scope="col" class="text-right">Addresses</th>
            <th scope="col" class="text-right">Transactions</th>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets">
              <td><a [routerLink]="['/assets', asset.hash]">{{ asset.name }}</a></td>
              <td>{{ asset.symbol }}</td>
              <td>{{ asset.type }}</td>
              <td>{{ asset.block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
              <td class="text-right">{{ asset.address_count | number }}</td>
              <td class="text-right">{{ asset.transaction_count | number }}</td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="total" [pageSize]="pageSize" [maxSize]="maxSize" [(page)]="page" (pageChange)="onPaging($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</section>
