<section class="component-transactions-section" *ngIf="transfers.length > 0">
  <div class="container">
    <div class="table-content">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading mb-5">{{ 'Transfers' | translate }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="bg-white border-radius mb-3">
            <div class="table table-responsive">
              <table class="table table-borderless table-striped table-hover tabel-content-vertical-middle">
                <thead>
                  <th scope="col">{{ 'Transaction ID' | translate }}</th>
                  <th scope="col">{{ 'From' | translate }}</th>
                  <th scope="col">{{ 'To' | translate }}</th>
                  <th scope="col" class="text-right">{{ 'Amount' | translate }}</th>
                  <th scope="col">{{ 'Asset' | translate }}</th>
                  <th scope="col" class="date-time">{{ 'Time' | translate }}</th>
                </thead>
                <tbody>
                  <tr *ngFor="let transfer of transfers">
                    <td><a [routerLink]="['/txs', transfer.txid]">{{ transfer.txid | cut:30 }}</a></td>
                    <td><a [routerLink]="['/addresses', transfer.address_from]">{{ transfer.address_from | cut:20 }}</a></td>
                    <td><a [routerLink]="['/addresses', transfer.address_to]">{{ transfer.address_to | cut:20 }}</a></td>
                    <td class="text-right">{{ transfer.amount | number:'1.0-4' }}</td>
                    <td><a [routerLink]="['/assets', transfer.asset_hash]">{{ transfer.asset_symbol }}</a></td>
                    <td class="date-time">{{ transfer.block_time * 1000 | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <nav class="float-right" aria-label="Page navigation example">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="total" [pageSize]="pageSize" [maxSize]="maxSize" [(page)]="page" (pageChange)="onPaging($event)"></ngb-pagination>                        
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>