<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">Asset</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table" *ngIf="asset">
          <tbody>
            <tr>
              <th scope="row">Hash</th>
              <td>{{ asset.hash }}</td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td>{{ asset.type }}</td>
            </tr>
            <tr>
              <th scope="row">Name</th>
              <td>{{ asset.name }}</td>
            </tr>
            <tr>
              <th scope="row">Symbol</th>
              <td>{{ asset.symbol }}</td>
            </tr>
            <tr>
              <th scope="row">Supply</th>
              <td>{{ asset.amount | number }}</td>
            </tr>
            <tr>
              <th scope="row">Issued</th>
              <td>{{ asset.issued | number }}</td>
            </tr>
            <tr>
              <th scope="row">Precision</th>
              <td>{{ asset.precision | number }}</td>
            </tr>
            <tr>
              <th scope="row">Owner</th>
              <td><a [routerLink]="['/addresses', asset.owner]">{{ asset.owner }}</a></td>
            </tr>
            <tr>
              <th scope="row">Created</th>
              <td>{{ asset.block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
            </tr>
            <tr>
              <th scope="row">Transactions</th>
              <td>{{ asset.transaction_count | number }}</td>
            </tr>
            <tr>
              <th scope="row">Addresses</th>
              <td>{{ asset.address_count | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">Registered</h2>
      </div>
    </div>
  </div>
</section>-->

<app-addresses [records]="asset.addresses" [symbol]="asset.symbol"></app-addresses>

<app-transactions [records]="asset.transactions"></app-transactions>

<app-transfers [records]="asset.transfers"></app-transfers>