<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading">Address</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table" *ngIf="address">
            <tbody>
              <tr>
                <th scope="row">Hash</th>
                <td>{{ address.transaction_hash }}</td>
              </tr>
              <tr>
                <th scope="row">Created</th>
                <td>{{ address.block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
              </tr>
              <tr>
                <th scope="row">Transactions</th>
                <td>{{ address.transaction_count }}</td>
              </tr>
              <tr>
                <th scope="row">Last Transaction</th>
                <td>TODO 10 minutes ago</td>
              </tr>
              <tr>
                <th scope="row">Balance</th>
                <td>{{ address.balance }}</td>
              </tr>
              <tr>
                <th scope="row">Unclaimed</th>
                <td>{{ address.claim }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading">Transactions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <th scope="col">Type</th>
              <th scope="col">Transaction ID</th>
              <th scope="col">Completed on</th>
              <th scope="col"></th>
            </thead>
            <tbody>
              <tr *ngFor="let tx of address.transactions">
                <td>{{ tx.type }}</td>
                <td><a [routerLink]="['/txs', tx.txid]">{{ tx.txid }}</a></td>
                <td>{{ tx.block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
                <td>Show/Hide</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading">Transfers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <th scope="col">Transfer</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Value</th>
              <th scope="col">Asset</th>
              <th scope="col">Time</th>
            </thead>
            <tbody>
              <tr *ngFor="let transfer of address.transfers">
                <td><a [routerLink]="['/txs', transfer.txid]">{{ transfer.txid }}</a></td>
                <td><a [routerLink]="['/addresses', transfer.address_from]">{{ transfer.address_from }}</a></td>
                <td><a [routerLink]="['/addresses', transfer.address_to]">{{ transfer.address_to }}</a></td>
                <td>{{ transfer.amount }}</td>
                <td><a [routerLink]="['/assets', transfer.asset]">{{ transfer.asset_symbol }}</a></td>
                <td>{{ transfer.block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>