<section class="market-section bg-theme">
  <div class="container">
    <div class="hero-over">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading mb-5">{{ 'Network Info' | translate }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="bg-white p-4 border-radius mb-3">
            <div class="table table-responsive">
              <table class="table table-borderless table-striped table-hover tabel-content-vertical-middle" *ngIf="status">
                <tbody>
                  <tr>
                    <th scope="row">{{ 'Network' | translate }}</th>
                    <td>{{ network }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Version' | translate }}</th>
                    <td>{{ status.version | number }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Blocks' | translate }}</th>
                    <td>{{ status.last_block_height | number }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ 'Recent Block Time' | translate }}</th>
                    <td>{{ status.last_block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>