<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">{{ 'Network Info' | translate }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table" *ngIf="status">
          <tbody>
            <tr>
              <th scope="row">{{ 'Network' | translate }}</th>
              <td>{{ network }}</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Version' | translate }}</th>
              <td>{{ status.version | number }}</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Blocks' | translate }}</th>
              <td>{{ status.last_block_height | number }}</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Recent Block Time' | translate }}</th>
              <td>{{ status.last_block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>