<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">{{ 'Blocks' | translate }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <th scope="col">{{ 'Height' | translate }}</th>
            <th scope="col">{{ 'Time' | translate }}</th>
            <th scope="col" class="text-right">{{ 'Transactions' | translate }}</th>
            <th scope="col">{{ 'Producer' | translate }}</th>
            <th scope="col" class="text-right">{{ 'Size' | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let block of blocks">
              <td><a [routerLink]="['/blocks', block.height]">{{ block.height }}</a></td>
              <td>{{ block.time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
              <td class="text-right">{{ block.transaction_count }}</td>
              <td><a [routerLink]="['/addresses', block.producer]">{{ block.producer }}</a></td>
              <td class="text-right">{{ block.size | number }} Bytes</td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="total" [pageSize]="pageSize" [maxSize]="maxSize" [(page)]="page" (pageChange)="onPaging($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</section>
