<section class="market-section bg-theme">
  <div class="container">
    <div class="hero-over">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">Market</h2>
        </div>
      </div>
      <div class="market-amount-content">
        <div class="row text-center mb-4">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card box-shadow mb-4">
              <div class="card-body">
                <h5 class="card-title">XQC</h5>
                <p class="card-text">----</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card box-shadow mb-4">
              <div class="card-body">
                <h5 class="card-title">Market Cap</h5>
                <p class="card-text">----</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card box-shadow mb-3">
              <div class="card-body">
                <h5 class="card-title">24h Change</h5>
                <p class="card-text">----</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card box-shadow mb-4">
              <div class="card-body">
                <h5 class="card-title">24h Volume</h5>
                <p class="card-text">----</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="recent-blocks-section bg-theme">
  <div class="container">
    <div class="table-content">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">{{ 'Recent Blocks' | translate }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table table-responsive">
            <table class="table table-borderless table-striped table-hover tabel-content-vertical-middle">
              <thead>
                <th>{{ 'Height' | translate }}</th>
                <th class="date-time">{{ 'Time' | translate }}</th>
                <th>{{ 'Transactions' | translate }}</th>
                <th>{{ 'Producer' | translate }}</th>
                <th>{{ 'Size' | translate }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let block of blocks">
                  <td><a [routerLink]="['/blocks', block.height]">{{ block.height }}</a></td>
                  <td>{{ block.time * 1000 | amTimeAgo }}</td>
                  <td>{{ block.transaction_count }}</td>
                  <td><a [routerLink]="['/addresses', block.producer]">{{ block.producer }}</a></td>
                  <td class="date-time">{{ block.size | number }} bytes</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a routerLink="/blocks" class="btn btn-theme"><span>{{ 'See All' | translate }}</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
  
<section class="recent-transactions-section">
  <div class="container">
    <div class="table-content">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">{{ 'Recent Transactions' | translate }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table table-responsive">
            <table class="table table-borderless table-striped table-hover tabel-content-vertical-middle">
              <thead>
                <th>{{ 'Type' | translate }}</th>
                <th>{{ 'Transaction ID' | translate }}</th>
                <th class="date-time">{{ 'Completed on' | translate }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let tx of txs">
                  <td>{{ tx.type }}</td>
                  <td><a [routerLink]="['/txs', tx.txid]">{{ tx.txid }}</a></td>
                  <td class="date-time">{{ tx.block_time * 1000 | amTimeAgo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-lg-12 text-center">
          <a routerLink="/txs" class="btn btn-theme"><span>{{ 'See All' | translate }}</span></a>
        </div>
      </div> -->
    </div>
  </div>
</section>
