<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading">Recent Blocks</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <th scope="col">Height</th>
              <th scope="col">Time</th>
              <th scope="col">Transactions</th>
              <th scope="col">Validator</th>
              <th scope="col">Size</th>
            </thead>
            <tbody>
              <tr *ngFor="let block of blocks">
                <td><a [routerLink]="['/blocks', block.height]">{{ block.height }}</a></td>
                <td>{{ block.time * 1000 | amFromUtc | amTimeAgo }}</td>
                <td>{{ block.transaction_count }}</td>
                <td><a [routerLink]="['/addresses', block.producer]">{{ block.producer }}</a></td>
                <td>{{ block.size | number }} Bytes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a routerLink="/blocks" class="btn btn-primary"><span>See All</span></a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-1">
            <h2 class="section-heading">Recent Transactions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <th scope="col">Type</th>
              <th scope="col">Transaction ID</th>
              <th scope="col">Completed on</th>
            </thead>
            <tbody>
              <tr *ngFor="let tx of txs">
                <td>{{ tx.type }}</td>
                <td><a [routerLink]="['/txs', tx.txid]">{{ tx.txid }}</a></td>
                <td>{{ tx.block_time * 1000 | amFromUtc | amTimeAgo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a routerLink="/txs" class="btn btn-primary"><span>See All</span></a>
        </div>
      </div>
    </div>
  </section>