<header>
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">QURAS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" [routerLink]="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'Blocks' | translate }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/blocks">{{ 'Blocks' | translate }}</a>
              <a class="dropdown-item" routerLink="/txs">{{ 'Transactions' | translate }}</a>
              <a class="dropdown-item" routerLink="/status">{{ 'Network Status' | translate }}</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/addresses">{{ 'Addresses' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/assets">{{ 'Assets' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/nodes">{{ 'Consensus Nodes' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/api_v1.html">{{ 'API' | translate }}</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="search()">
          <input class="form-control mr-sm-2 search-btn" type="search" placeholder="Search for block height, hash, txid or address" aria-label="Search" [(ngModel)]="q" name="search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">{{ 'Search' | translate }}</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer id="footer" class="bg-primary text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <small><a href="https://testnet.chain.quras.com">{{ 'Testnet' | translate }}</a></small>
      </div>
      <div class="col-lg-4 text-center">
        <small>Copyright &copy; QURAS 2018</small>
      </div>
      <div class="col-lg-4">
        <div class="d-flex justify-content-end">
          <div class="mr-3"><a [routerLink]="" (click)="setLang('en')"><span class="flag-icon flag-icon-us"></span>&nbsp;English</a></div>
          <div><a [routerLink]="" (click)="setLang('ja')"><span class="flag-icon flag-icon-jp"></span>&nbsp;Japanese</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="back-to-top">

</div>