<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">Block #{{ block.height }}</h2>
      </div>
    </div>
    <div class="row">
      <table class="table" *ngIf="block">
        <tbody>
          <tr>
            <th scope="row">Hash</th>
            <td>{{ block.hash }}</td>
          </tr>
          <tr>
            <th scope="row">Height</th>
            <td>{{ block.height }}</td>
          </tr>
          <tr>
            <th scope="row">Time</th>
            <td>{{ block.time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
          </tr>
          <tr>
            <th scope="row">Producer</th>
            <td><a [routerLink]="['/addresses', block.producer]">{{ block.producer }}</a></td>
          </tr>
          <tr>
            <th scope="row">Size</th>
            <td>{{ block.size | number }} Bytes</td>
          </tr>
          <tr>
            <th scope="row">Version</th>
            <td>{{ block.version }}</td>
          </tr>
          <tr>
            <th scope="row">Merkle Root</th>
            <td>{{ block.merkle }}</td>
          </tr>
          <tr>
            <th scope="row">Transactions</th>
            <td>{{ block.transaction_count }}</td>
          </tr>
          <tr>
            <th scope="row">Previous Block</th>
            <td><a [routerLink]="['/blocks', block.height-1]" *ngIf="block.height > 1">{{ block.prev_block_hash }}</a></td>
          </tr>
          <tr>
            <th scope="row">Next Block</th>
            <td><a [routerLink]="['/blocks', block.height+1]">Visit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-1">
          <h2 class="section-heading">Transactions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <th scope="col">Type</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Completed on</th>
            <th scope="col"></th>
          </thead>
          <tbody>
            <tr *ngFor="let tx of block.transactions">
              <td>{{ tx.type }}</td>
              <td><a [routerLink]="['/txs', tx.txid]">{{ tx.txid }}</a></td>
              <td>{{ tx.block_time * 1000 | amFromUtc | amDateFormat:'YYYY/M/D h:m:s A' }}</td>
              <td>Show/Hide</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" *ngIf="block.script.invocation">
        <div class="card">
          <div class="card-header">
            Invocation Script
          </div>
          <div class="card-body">
            <p class="card-text">{{ block.script.invocation }}</p>
            <a href="#" class="btn btn-primary float-right">VIEW OPCODE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6" *ngIf="block.script.verification">
        <div class="card">
          <div class="card-header">
            Verification Script
          </div>
          <div class="card-body">
            <p class="card-text">{{ block.script.verficiation }}</p>
            <a href="#" class="btn btn-primary float-right">VIEW OPCODE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>